.wrapper {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
  background-color: lightgrey;
}

mat-sidenav,
mat-sidenav-content {
  padding: 15px;
}

mat-sidenav {
  background-color: rgb(255, 23, 158);
  width: 20%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
